/*
!/src
!/build.gradle
!/build.properties
!/.gitignore
!/gradlew
!/gradlew.bat
!/CREDITS-fml.txt
!/MinecraftForge-Credits.txt
!/Paulscode IBXM Library License.txt
!/Paulscode SoundSystem CodecIBXM License.txt
!/README.md
!/LICENSE
!/LICENSE-fml.txt
!/LICENSE-operncomputers
